.text-center {
  text-align: center;
}
.options-form {
  margin-top: 30px;
}
.colorfull               { background-color: #f1f1f1; transition: background-color 0.25s ease;}
.colorfull.nm-energized  { background-color: #F19600; }
.colorfull.nm-dark       { background-color: #4D4040; color: #FFF; }
.colorfull.nm-calm       { background-color: #4872B5; color: #FFF; }
  .colorfull.nm-more-calm       { background-color: #286cd6; color: #FFF; }
  .colorfull.nm-even-more-calm  { background-color: #1566e4; color: #FFF; }

.img-circle {
  border-radius: 50%;
}
.icon-circle {
  background-color: #fff;
  border-radius: 50%;
  margin: auto;
  width: 120px;
  height: 120px;
  padding: 15px;
}
.icon-circle > svg {
  fill: #4D4040;
}
h2, h4 {
  color: #fff;
}
h3 {
  color: #f8f8f8;
}
.button-go {
  float: right;
}
/* Estructure */
.logo {
  text-align: center;
  margin: auto;
  width: 50px;
  opacity: 1;
  transition: all 0.5s ease;
}
ion-content {
  background-color: #f8f8f8;
}
.logo.logo-folded {
  width: 0;
  opacity: 0;
}
.profile {
  padding-top: 50px;
}
.search-box {
  padding-top: 50px;
  padding-bottom: 15px;
}
.search-box.search-box-folded {
  margin-bottom: 38px;
}
.list:last-child.search-box-input-folded {
  margin-bottom: -36px;
}
/* ionic overhide */
.row {
  padding: 0;
}
.placeholder-icon:first-child {
  padding-right: 12px;
}
