<ion-view view-title="Sobre">
  <ion-content padding="true" class="light-back colorfull">

    <div class="row search-bar">
      <div class="col">
        <a class="button button-icon ion-ios-search search-button" href="#/app/search"></a>
      </div>
    </div>

    <h3 class="text-center">Na Emenda do Deputado</h3>
    <br/>
    <div class="text-center">
      <p>LOGO DO DEPUTADINHO</p>
    </div>

    <div class="about-item">
      <p>Na Emenda do Deputado é um projeto desenvolvido por alunos do Laboratório Analytics com o objetivo de
      auxiliar e estimular o acompanhamento das atividades da Câmara dos Deputados
      pela população.
      </p>
    </div>

    <hr>


    <div class="row text-center">
      <div class="col">
        <a class="button button-icon ion-android-mail contact-icon" ></a>
      </div>
      <div class="col">
        <a class="button button-icon ion-social-facebook contact-icon"></a>
      </div>
      <div class="col">
        <a class="button button-icon ion-social-github contact-icon" ></a>
      </div>
    </div>

  </ion-content>
</ion-view>
