<ion-view view-title="Sobre">

  <ion-content padding="true" class="light-back colorfull">

    <h3 class="text-center">Na Emenda do Deputado</h3>
    <br/><br/>
    <p>LOGO DO DEPUTADINHO</p>
  </ion-content>

  <div class="tooltip">
    Projeto desenvolvido por alunos do Laboratório Analytics com o objetivo de
    auxiliar e estimular o acompanhamento das atividades da Câmara dos Deputados
    pela população.
  </div>

<!--
  <div class="row text-center">
    <div class="col">
      <a class="button button-icon ion-android-mail" ></a>
    </div>
    <div class="col">
      <a class="button button-icon ion-social-facebook"></a>
    </div>
    <div class="col">
      <a class="button button-icon ion-social-github" ></a>
    </div>
  </div>
-->

</ion-view>
