<ion-view view-title="Convênios">

  <ion-content padding="false" class="colorfull bg-white">

    <div class="convenio colorfull bg-white padding">

      <div class="padding">
        <div class="text-left">
          <a class="button button-icon ion-android-arrow-back search-button" ui-sref="app.profile({ id_deputado: convenio.id_deputado})"></a>
        </div>
      </div>

      <div class="text-center">
      <div class="colorfull padding conv-t">
        <div class="row">
          <div class="col">
            {{convenio.acao}}
          </div>
        </div>
      </div>

      <div class="text-center">
      <div class="colorfull padding conv-date">
        <div class="row">
          <div class="col-33">
            <i class="icon ion-calendar ic"></i></br>
            <div class="ic-cap">Data de Publicação</div>
          </div>
          <div class="col">
            <p>{{convenio.dt_publicacao}}</p>
          </div>
        </div>
      </div>

      <div class="colorfull padding conv-total">
        <div class="row">
          <div class="col-33">
            <i class="icon ion-pricetag ic"></i></br>
            <div class="ic-cap">Valor Global</div>
          </div>
          <div class="col">
            <p>{{convenio.vl_global}}</p>
          </div>
        </div>
      </div>

      <div class="colorfull padding conv-repasse" ng-hide="(convenio.vl_global == convenio.vl_repasse)">
        <div class="row">
          <div class="col-33">
            <i class="icon ion-social-usd ic"></i></br>
            <div class="ic-cap">Valor Repassado</div>
          </div>
          <div class="col">
            <p>{{convenio.vl_repasse}}</p>
          </div>
        </div>
      </div>

      <div class="colorfull padding conv-acao">
        <div class="row">
            <div class="col-33">
              <i class="icon ion-document-text ic"></i></br>
              <div class="ic-cap">Objetivo</div>
            </div>
            <div class="col" ng-hide="(convenio.vl_global == convenio.vl_repasse)">
              {{convenio.objeto_convenio}}
              <!--{{convenio.acao}}-->
            </div>
        </div>
      </div>

      <h1>{{convenio.id}}</h1>

    </div>
    </div>

  </ion-content>
</ion-view>
