<ion-view view-title="Convênios">

  <ion-content padding="true" class="colorfull nm-calm">

    <div class="profile text-center">
      <div class="text-left">
        <a class="button button-icon ion-android-arrow-back search-button" ui-sref="app.profile({ id_deputado: convenio.id_deputado})"></a>
      </div>

      <h3 class="title">{{convenio.vl_global}}</h3>
      <h4>{{convenio.dt_publicacao}}</h4>
    </div>

    <h1 class="light text-center">{{convenio.id}}</h1>

  </ion-content>
</ion-view>
