<ion-view view-title="Perfil do deputado">

  <ion-content padding="true" class="has-header colorfull nm-dark">

    <div class="profile text-center">
      <!-- <img ng-src="http://ionicframework.com/img/docs/mcfly.jpg" alt="{{dept.nome}}" class="img-circle"> -->

      <h1 class="light">{{dept.nome}}</h1>
      <h3 class="light">{{dept.partido}} | {{dept.uf}}</h3>
    </div>

    <div class="card" ng-repeat="convenio in dept.convenios">
      <div class="item item-text-wrap" ui-sref="app.convenio({ id_convenio: convenio.id_convenio})">
        <p>{{convenio.objeto_convenio}}</p>
      </div>
    </div>

  </ion-content>
</ion-view>
