<ion-view view-title="Perfil do Deputado">

  <ion-content padding="true" class="has-header colorfull lin-back">

    <a class="button button-icon icon ion-ios-search" href="#/app/search"></a>

    <div class="profile text-center">
    <img ng-src="http://ionicframework.com/img/docs/mcfly.jpg" alt="{{dept.nome}}" class="img-circle">

      <h3 class="nome-dep">{{dept.nome}}</h3>
      <h4 class="capt-number">{{dept.partido}} - {{dept.uf}}</h4>
    </div>

    <div class="row text-center dest-number">
      <div class="col">849</div>
      <div class="col">{{dept.TotalConvenios}}</div>
      <div class="col">{{dept.TotalConvenios}}</div>
    </div>
    <div class="row text-center capt-number">
      <div class="col">Nº Convênios</div>
      <div class="col">Total Gasto</div>
      <div class="col">Total Gasto</div>
    </div>

    <hr>
    <h3>Convênios</h3>

    <div class="card" ng-repeat="convenio in dept.convenios">
      <div class="item item-text-wrap" ui-sref="app.convenio({ id_convenio: convenio.id_convenio})">
        <p>{{convenio.objeto_convenio}}</p>
      </div>
    </div>

  </ion-content>
</ion-view>
